body {
    background-color: #242424;
}

.game {
    text-align: center;
}

canvas {
    width: 45%;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #424242;
    margin: 0 auto;
}

.page-title{
    text-align: center;
    color: #FFF;
    font-size: 32px;
    margin: 10px;
}